<section class="min-h-screen w-full flex flex-col relative" id="home">
  <div class="w-full mx-auto flex flex-col sm:mt-36 mt-20 c-space gap-3">
    <p class="sm:text-3xl text-xl font-medium text-white text-center font-generalsans">
      Hi, I am Felix <span class="waving-hand">👋</span>
    </p>
    <p class="hero_tag text-gray_gradient">Building Products & Brands</p>
  </div>


  <!-- CTA -->
  <div class="absolute bottom-7 left-0 right-0 w-full z-10 c-space">
    <a href="#about" class="w-fit">
      <app-button name="Let's work together" [isBeam]="true" containerClass="sm:w-fit w-full sm:min-w-96" />
    </a>
  </div>
</section>
